@import "tailwindcss";

:root {
  --background: #ac23b3;
  --foreground: #9921ae;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

a{
  color: rgb(208, 121, 240);
}